<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
  >
    <q-page padding>
      Main Layout Index About
    </q-page>
  </transition>
</template>

<script>
export default {
  name: 'AboutPage',
  mounted () {
    // console.log('csrf-cookie')
    // console.dir(response)
    this.$axios.get('/user', { timeout: 2000 })
      .then((responseUser) => {
      })
      .catch(errorUser => {
      })
  }
}
</script>
