<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
  >
    <q-page class="flex flex-center">
      <q-card
        class="my-card"
        flat
        bordered
        style="width:375px;"
      >
        <q-card-section vertical>
          <q-card-section class="q-pt-xs">
            <div class="text-h5 q-mt-sm q-mb-xs">Login</div>
          </q-card-section>

          <q-card-section class="col-5 flex flex-center">
            <div
              class="q-pa-md"
              style="width: 375px"
            >

              <q-form class="q-gutter-md">
                <q-input
                  v-model.trim="email"
                  label="E-Mail"
                  outlined
                  :error-message="error('email')"
                  :error="$v.email.$error"
                  @blur="$v.email.$touch"
                />

                <q-input
                  type="password"
                  v-model="password"
                  label="Password"
                  outlined
                  :error-message="error('password')"
                  :error="$v.password.$error"
                  @blur="$v.password.$touch"
                />
              </q-form>

            </div>
          </q-card-section>
        </q-card-section>

        <q-separator />

        <q-card-actions class="col-5 flex flex-center">
          <q-btn
            flat
            color="primary"
            @click="reset"
          >
            Reset
          </q-btn>
          <q-btn
            flat
            color="primary"
            @click="login"
          >
            Login
          </q-btn>
        </q-card-actions>
      </q-card>
    </q-page>
  </transition>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
export default {
  name: 'LoginPage',
  data () {
    return {
      email: '',
      password: '',
      errorMessage: ''
    }
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },
  computed: {

  },
  methods: {
    error (type) {
      if (type === 'email') {
        if (!this.$v.email.email) {
          return 'Invalid e-mail.'
        }
        if (!this.$v.email.required) {
          return 'E-mail is required.'
        }
      } else if (type === 'password') {
        if (!this.$v.password.required) {
          return 'Password is required.'
        }
      }
      return ''
    },
    login () {
      this.$v.email.$touch()
      this.$v.password.$touch()
      if (this.$v.email.$error || this.$v.password.$error) {
      } else {
        this.$axios.get('/sanctum/csrf-cookie', { timeout: 2000 })
          .then((response) => {
            this.$axios.post('/login', { email: this.email, password: this.password }, { timeout: 2000 })
              .then((responseLogin) => {
                if (responseLogin.status === 200) {
                  this.$store.dispatch('auth/loginLogout', true)
                  this.$store.dispatch('auth/setUser', responseLogin.data.user)
                  this.$router.push({ name: 'Index' })
                }
              })
              .catch(errorLogin => {
                this.errorMessage = errorLogin.response.data.message
                this.triggerNegative()
              })
          })
          // eslint-disable-next-line handle-callback-err
          .catch(error => {
            this.errorMessage = 'An error occured.'
            this.triggerNegative()
          })
      }
    },
    reset () {
      this.email = ''
      this.password = ''
    },
    triggerNegative () {
      this.$q.notify({
        type: 'negative',
        message: this.errorMessage,
        position: 'top',
        group: false,
        timeout: 1500
      })
    }
  },
  mounted () {
    // console.dir(this.$v)
  }
}
</script>
