<template>
  <q-layout view="hHh Lpr fFf">
    <!-- Be sure to play with the Layout demo on docs -->

    <!-- (Optional) The Header -->
    <q-header elevated>
      <q-toolbar class="glossy">
        <q-btn
          dense
          flat
          round
          icon="menu"
          @click="left = !left"
        />
        <q-toolbar-title>
          Header
        </q-toolbar-title>
        <q-btn-dropdown
          :label="this.name"
          class="glossy"
        >
          <q-list>
            <q-item
              clickable
              v-close-popup
              @click="onLogout"
            >
              <q-item-section>
                <q-item-label>Logout</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>

        <!-- <q-btn
          flat
          round
          dense
          icon="whatshot"
          class="glossy"
        /> -->
      </q-toolbar>
    </q-header>

    <!-- (Optional) The Footer -->
    <q-footer>
      <q-toolbar class="glossy">
        <q-toolbar-title>
          Footer
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>

    <!-- (Optional) A Drawer; you can add one more with side="right" or change this one's side -->
    <q-drawer
      v-model="left"
      persistent
      side="left"
      bordered
      content-class="bg-light-1"
    >
      <!-- QScrollArea is optional -->
      <q-scroll-area class="fit q-pa-sm">
        <q-list
          padding
          class="menu-list"
        >
          <q-item
            to="/"
            exact
            clickable
            v-ripple
          >
            <q-item-section avatar>
              <q-icon name="home" />
            </q-item-section>

            <q-item-section>
              Home
            </q-item-section>
          </q-item>

          <q-item
            to="/about"
            exact
            clickable
            v-ripple
          >
            <q-item-section avatar>
              <q-icon name="info" />
            </q-item-section>

            <q-item-section>
              About
            </q-item-section>
          </q-item>

          <q-item
            to="/login"
            exact
            clickable
            v-ripple
          >
            <q-item-section avatar>
              <q-icon name="send" />
            </q-item-section>

            <q-item-section>
              Login
            </q-item-section>
          </q-item>

          <q-item
            exact
            clickable
            v-ripple
          >
            <q-item-section avatar>
              <q-icon name="drafts" />
            </q-item-section>

            <q-item-section>
              Drafts
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  name: 'MainLayout',
  data () {
    return {
      user: this.$store.getters['auth/getUser'],
      name: this.$store.getters['auth/getUser'].name,
      left: true
    }
  },
  methods: {
    onLogout () {
      this.$axios.get('/sanctum/csrf-cookie', { timeout: 2000 })
        .then((response) => {
          this.$axios.post('/logout', { timeout: 2000 })
            .then((responseLogout) => {
              if (responseLogout.status === 204) {
                this.$store.dispatch('auth/loginLogout', false)
                this.$store.dispatch('auth/setUser', null)
                this.$router.push({ name: 'Login' })
              }
            })
            .catch(errorLogout => {
              this.errorMessage = errorLogout.response.data.message
              this.triggerNegative()
            })
        })
        // eslint-disable-next-line handle-callback-err
        .catch(error => {
          this.errorMessage = 'An error occured.'
          this.triggerNegative()
        })
    }
  }
}
</script>

<style lang="sass" scoped>
.menu-list .q-item
  border-radius: 0 32px 32px 0
</style>
